body{
font-family:Poppins;
background:#f5f5f5;
margin:0;
padding:0;
}

/* NAVBAR */

.navbar{
display:flex;
justify-content:space-between;
align-items:center;
background:#131921;
color:white;
padding:15px 40px;
}

.logo{
font-size:22px;
font-weight:600;
}

.nav-links a{
color:white;
text-decoration:none;
margin-left:20px;
}

/* CONTAINER */

.container{
max-width:800px;
margin:50px auto;
background:white;
padding:30px;
border-radius:10px;
box-shadow:0 5px 15px rgba(0,0,0,0.1);
}

h2{
margin-bottom:20px;
}

/* INPUT */

.track-input{
display:flex;
gap:10px;
}

input{
flex:1;
padding:10px;
border:1px solid #ccc;
border-radius:5px;
}

button{
padding:10px 20px;
background:#ff9900;
border:none;
border-radius:5px;
cursor:pointer;
color:white;
font-weight:500;
}

button:hover{
background:#e68900;
}

/* TIMELINE */

.timeline{
margin-top:40px;
display:none;
}

.step{
display:flex;
align-items:center;
margin-bottom:20px;
}

.circle{
width:20px;
height:20px;
border-radius:50%;
background:#ccc;
margin-right:15px;
}

.active{
background:#4CAF50;
}

.line{
width:2px;
height:30px;
background:#ccc;
margin-left:9px;
margin-bottom:10px;
}

.status{
font-size:15px;
}